<p id="notice"><%= notice %></p>

<p>
  <strong>Published at:</strong>
  <%= @tamu.published_at %>
</p>

<p>
  <strong>Tglaktifitas:</strong>
  <%= @tamu.tglaktifitas %>
</p>

<p>
  <strong>Kodebooking:</strong>
  <%= @tamu.kodebooking %>
</p>

<p>
  <strong>Namatamu:</strong>
  <%= @tamu.namatamu %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @tamu.qty %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @tamu.hotel %>
</p>

<p>
  <strong>Negara:</strong>
  <%= @tamu.negara %>
</p>

<p>
  <strong>Telp:</strong>
  <%= @tamu.telp %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tamu.email %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @tamu.driver %>
</p>

<p>
  <strong>Note:</strong>
  <%= @tamu.note %>
</p>

<p>
  <strong>Paket:</strong>
  <%= @tamu.paket_id %>
</p>

<%= link_to 'Edit', edit_tamu_path(@tamu) %> |
<%= link_to 'Back', tamus_path %>
